<div class="card mb-2">
    <div class="card-header lead">
        Last gained achievements this week
    </div>
    <div class="card-body p-1">
        <ul class="list-unstyled mb-0">
            <li class="media">
                <div class="embed-responsive embed-responsive-1by1">
                    <img class="mr-2 embed-responsive-item align-self-center pic" src="../../assets/img/achievement.png">
                </div>
                <div class="media-body">
                    <p class="h5">Achievement title</p>
                </div>
            </li>
        </ul>
    </div>

</div>
