<div class="content mb-4" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-12 m-xl-0 m-lg-0 m-md-0 m-sm-2">
        <div *ngIf="!admin" class="input-group">
          <input type="text" class="rounded-left form-control" [(ngModel)]="accessCode" [disabled]="accessCodeLoading"
                 (keydown.enter)="join()" placeholder="{{'quizList.accessCode'| translate}}" aria-label="Enter access code"
                 aria-describedby="button-addon">
          <div *ngIf="!admin" class="input-group-append">
            <button (click)="join()" class="btn btn-light border-0 btn-outline-secondary" type="button"
                    [disabled]="accessCodeLoading" id="button-addon">
              <span *ngIf="!accessCodeLoading">
                OK
              </span>
              <span *ngIf="accessCodeLoading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-xl-9 col-md-6 col-sm-12 m-xl-0 m-lg-0 m-md-0 m-sm-2 rounded">
        <div class="input-group">
          <input type="text" class="rounded-left form-control text-center" [(ngModel)]="searchInput"
                 (keydown.enter)="search()" placeholder="{{'quizList.search'| translate}}" aria-label="Search" aria-describedby="button-addon1">
          <div class="input-group-append">
            <button (click)="search()" class="btn btn-light border-0 btn-outline-secondary" type="button"
                    id="button-addon1">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4 p-2 bg-white rounded">
    <div class="row m-2 justify-content-center">
      <button *ngIf="canCreate" class="btn col-8 btn-primary m-2 p-2" routerLink="/quizcreate">{{'quizList.createQuiz'| translate}}</button>
      <button (click)="showFilter()" class="btn col-3 btn-info m-2 p-2">{{'quizList.filter'| translate}}</button>
    </div>
    <div class="row">
      <div class="container">
        <div class="row">
          <div *ngFor="let item of quizList" class="col-lg-3 col-md-4 col-sm-6 card text-center cards">
            <a routerLink="/viewquiz/{{item.id}}">
              <div class="embed-responsive embed-responsive-4by3">
                <img class="card-img-top  embed-responsive-item p-1"
                     [src]="item.imageContent ? item.imageContent : this.mockImageUrl" alt="Quiz icon">
              </div>
              <div class="card-body text-center">
                <p class="card-title h5">{{item.title}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-container">
      <ngb-pagination class="d-flex justify-content-center" size="lg" [pageSize]="pageSize" [collectionSize]="totalSize"
                      [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</div>
