<div class="content mb-4" role="main">
    <div class="container bg-white rounded py-3">
        <div class="row justify-content-center">
            <div *ngIf="!admin" class="col-lg-6 col-xl-6 col-md-6 col-sm-12 m-xl-0 m-lg-0 m-md-0 m-sm-2 m-2">
                <div class="input-group">
                    <input type="text"
                           class="rounded-left form-control text-center"
                           [(ngModel)]="accessId"
                           [disabled]="accessCodeLoading"
                           (keydown.enter)="checkJoin()"
                           placeholder="{{'quizList.accessCode'| translate}}"
                           aria-label="Enter access code"
                           aria-describedby="button-addon">
                    <div *ngIf="!admin" class="input-group-append">
                        <button (click)="checkJoin()"
                                class="btn btn-light btn-outline-secondary"
                                type="button"
                                [disabled]="accessCodeLoading || !accessId"
                                id="button-addon">
                          <span *ngIf="!accessCodeLoading">
                            {{'quizList.join'| translate}}
                          </span>
                          <span *ngIf="accessCodeLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Loading...</span>
                          </span>
                        </button>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-12' : admin,
                 'col-lg-6 col-xl-6 col-md-6 col-sm-12 m-xl-0 m-lg-0 m-md-0 m-sm-2 m-2 rounded': !admin}"
            >
                <div class="input-group">
                    <input type="text"
                           class="rounded-left form-control text-center"
                           [(ngModel)]="searchInput"
                           (keydown.enter)="search()"
                           placeholder="{{'quizList.search'| translate}}"
                           aria-label="Search"
                           aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button (click)="search()"
                                class="btn btn-light btn-outline-secondary"
                                type="button"
                                id="button-addon1">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                      clip-rule="evenodd"/>
              </svg>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 bg-white rounded">
        <div class="row pt-3 justify-content-center">
            <button *ngIf="canCreate"
                    class="btn col-8 btn-primary m-2 p-2"
                    routerLink="/quizcreate">{{'quizList.createQuiz'| translate}}</button>
            <button (click)="showFilter()" class="btn col-3 btn-info m-2 p-2">{{'quizList.filter'| translate}}</button>
        </div>
        <div class="row">
            <div class="container">
                <div class="row"
                     *ngIf=" (searchFilterQuizService.currentQuizzesSize$ | async) > 0 &&
                     !(searchFilterQuizService.loading$ | async); else ((searchFilterQuizService.loading$ | async) ? loading : empty)"
                >
                    <div *ngFor="let item of searchFilterQuizService.currentQuizzes$ | async" class="col-lg-3 col-md-4 col-sm-6 text-center p-2">
                        <div class="col-md-12 card cards h-100">
                            <a routerLink="/viewquiz/{{item.id}}">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <img class="img-thumbnail card-img-top  embed-responsive-item p-1"
                                         [src]="item.imageContent ? item.imageContent : this.mockImageUrl"
                                         alt="Quiz icon">
                                </div>
                                <div class="card-body text-center pb-0">
                                    <p class="card-title h5 mb-0">{{item.title}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <ngb-pagination class="d-flex justify-content-center"
                            size="lg"
                            [pageSize]="pageSize"
                            [collectionSize]="searchFilterQuizService.currentQuizzesSize$ | async"
                            [(page)]="page"
                            [maxSize]="7"
                            [rotate]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>

<ng-template #empty>
    <p class="lead emptylabel">{{'utils.emptyList'|translate}}</p>
</ng-template>

<ng-template #loading>
    <div class="card-body text-center">
        <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
    </div>
</ng-template>
