<div><label>
    <ng-template [ngIf]="isTag()" [ngIfElse]="categs">{{ 'utils.tags' | translate }} </ng-template>
    <ng-template #categs>{{ 'utils.categories' | translate }} </ng-template>
    <span *ngIf="available" style="color: red;">*</span>
</label></div>
<span *ngFor="let item of tagCateg; let i = index"
      [ngClass]="{'badge-primary': isTag(), 'badge-success': !isTag()}"
      class="badge mr-1">
    {{ item.description }}
	<svg *ngIf="available"
	     class="bi bi-x-circle removeb"
	     width="1.2em"
	     height="1.2em"
	     viewBox="0 0 16 16"
	     fill="currentColor"
	     xmlns="http://www.w3.org/2000/svg"
	     (click)="remove(i)">
        <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
              clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
              clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
              clip-rule="evenodd"/>
    </svg>


    
</span>

<div *ngIf="available" class="mt-1">
<input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
       [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
       (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
       (keyup.enter)="add()" (selectItem)="selectedItem($event)" autocomplete="off"
       placeholder="{{ 'quizCreation.startTyping' | translate }}"/>
</div>
