.embed-responsive .card-img-top {
    object-fit: cover;
    border-radius: 50%;
    padding: 0 !important;
    border: 0.9px solid gray;
}

.border-secondary {
    border-width: 0.75px !important;
}

.card-title {
    font-size: small;
    padding-bottom: 0;
}

.card-group {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.25rem;
}

.card-body {
    padding: 0;
}

.noborder {
    border-color: transparent;
}

.row {
    margin-right: 0;
    margin-left: 0;
}