<div class="container" role="main" >
   <input class="col-xs-5 col-sm-7 col-md-8 col-lg-10 p-2 p-2"
   type="text"
   name="username"
   [(ngModel)]="username"
   #nameref="ngModel"
   pattern="[a-zA-Z]+"/>
   <button class="btn btn-info btn-lg col-xs-2 col-sm-4 col-md-4 col-lg-2 p-2 border"
     type="button"
     (click)="search()"> {{'utils.search' | translate}}</button>
   <div class="w-100"></div>
   <div class="container-sm mt-3 p-3" *ngIf="ready">
     <h1 style="font-size: larger; font-weight: bolder;" *ngIf="username !== undefined && !init">{{'profile.found' | translate}}   {{searchResults.length }}  {{(searchResults.length == 1 ? 'profile.user' : 'profile.users') | translate }} </h1>
     <h1 style="font-size: larger; font-weight: bolder;" *ngIf="username === undefined && init && privileged">
       {{'profile.administration' | translate}} 
     </h1>
     <h1 style="font-size: larger; font-weight: bolder;" *ngIf="username === undefined && init && !privileged">
       {{'profile.popularCreators' | translate}} 
     </h1>
     <div *ngFor="let profile of this.searchResults" style='font-size: larger;'>
       <div class="row p-2 m-2 border">
       <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
         <img routerLink="/profile/{{profile.username}}"
           class="img-thumbnail"
           [src]="profile.image ? profile.image : '../../assets/img/nopicture.jpg'"  style="cursor:pointer;">
          </div>
         <div class="col">
           <a routerLink="/profile/{{profile.username}}" style="font-weight: bolder;">{{profile.username}}</a>
           <span *ngIf="profile.role!='ROLE_USER'" class="blue"> {{profile.role.substr(5).toLowerCase()}}</span> 
           <h3 *ngIf="!profile.activated"
             style="color: red; font-size: smaller;">{{'profile.deactivated' | translate }} </h3>
           <h2 *ngIf="profile.online==true; else lastseen" class="blue" style="font-weight: lighter;">
             {{'profile.online' | translate }} 
           </h2>
           <ng-template #lastseen>
             <h2 class="blue">
               {{'profile.lastSeenOn' | translate }} {{profile.lastTimeOnline |  date:'medium'}} 
             </h2>
           </ng-template>
         </div>
     </div>
   </div>
 </div>
 <div  class="container-sm mt-3 p-3" *ngIf="!ready;" style="word-wrap: break-word;" >
  <div style="text-align: center;">
    <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
  </div>
</div>
</div>