<div role="main">
    <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <div class="container-sm mt-2 p-4">
        <div *ngIf="!editorEnabled">
            <button class="btn addb" (click)="add()"><img src="../assets/img/plus.png"></button>
        </div>
        <div *ngIf="inEdit[0]">
            <div><label>Adding announcement</label></div>
            <label class="mt-4">Title:</label>
            <input class="form-control" [(ngModel)]="currentAnnouncement.title">
            <label>Content:</label>
            <textarea class="form-control" rows="5"
            [(ngModel)]="currentAnnouncement.textContent" placeholder="Content of announcement"></textarea>
            <div class="mt-4"><i class="fas fa-chevron-down"></i>
                <button class="btn buttonsec" (click)="saveAdd()">Save</button>
                <button class="btn buttonpr ml-2" (click)="cancel(-1)">Cancel</button>
            </div>
        </div>
        
        <div class="mb-4" *ngFor="let announcement of announcements; let i = index">
            <div *ngIf="!inEdit[i+1]">
                <hr class="my-4">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Title:</label>
                        <p>{{announcement.title}}</p>
                    </div>
                    <div class="col-sm-3 float-right">
                        <p style="font-style: italic;">{{announcement.creationDate | date}}</p>
                        <p style="font-weight: bold;">{{announcement.creatorId}}</p>
                    </div>
                </div>
                <button class="btn" (click)="isCollapsed[i] = !isCollapsed[i]"><a>Content</a><span *ngIf="!isCollapsed[i]">   ↑</span><span *ngIf="isCollapsed[i]">   ↓</span></button>
                <div [ngbCollapse]="isCollapsed[i]">
                    <p>{{announcement.textContent}}</p>
                </div>
                <div class="mt-4"><i class="fas fa-chevron-down"></i>
                    <button *ngIf="!editorEnabled" class="btn buttonpr" (click)="edit(i)">Edit</button>
                    <button class="btn buttondel ml-2" (click)="delete(i)">Delete announcement</button>
                </div>
            </div>
            <div *ngIf="inEdit[i+1]">
                <hr class="my-4">
                <div>
                    <label>Editing announcement of {{currentAnnouncement.creatorId}}</label>
                    <p style="font-style: italic;">{{announcement.creationDate | date}}</p>
                </div>
                <label>Title:</label>
                <input class="form-control" [(ngModel)]="currentAnnouncement.title">
                <label>Content:</label>
                <textarea class="form-control" rows="5"
                [(ngModel)]="currentAnnouncement.textContent" placeholder="Content of announcement"></textarea>
                <div class="mt-4"><i class="fas fa-chevron-down"></i>
                    <button class="btn buttonsec" (click)="save(i)">Save</button>
                    <button class="btn buttonpr ml-2" (click)="cancel(i)">Cancel</button>
                </div>
            </div>
            
        </div>
        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize"
         [(page)]="page" class="d-flex justify-content-center" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>