.main {
  position: relative;
  border-radius: 8px;
  top:20px;
  margin-left: 30%;
  margin-right: 30%;
  background-color:#F7F9FB;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.alert-danger {
  width: 30%;
}

span.header-text {
  margin-left: 32%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #31708E;
}

span.text {
  position: absolute;
  margin-left: 1%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

span.text-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

img {
  width: 20px;
  height: 20px;
}

input {
  width: 90%;
  height: 30px;
  margin-left: 1%;
  background: #ECF0F1;
  border: 1px solid #687864;
}

button.close-btn {
  margin-left: 93%;
  margin-top: 2px;;
  border: 0px;
  background: rgba(255, 255, 255, 0);
}

button.btn-primary {
  margin-left: 1%;
  background: #8FC1E3;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: 40px;
}

@media (max-width: 1000px) {
  span.header-text {
    text-align: center;
  }
  span.header-text {
    font-size: 20px;
  }
  .main {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media (max-width: 800px) {
  .btn-primary {
    width: 50%;
  }
  span.header-text {
    margin-left: 20%;
  }
  div.alert-danger {
    width: 40%;
  }
}
