<div class="main">
  <button class="close-btn" type="button" name="button" (click)="goHomePage()"><img src="../assets/img/close-button.jpg"></button>
  <form>
    <span class="header-text">Recover Password</span><br><br>
    <span class="text">Email</span><br>
    <input type="email" name="email" size=30px [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel"/><br><br>
    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
      <div [hidden]="!emailref.errors?.pattern">Invalid email!</div>
    </div>
    <button type="button" class="btn btn-primary" (click)="requestPasswordChange()"><span class="text-btn">Reset Password</span></button><br>
  </form><br>
</div>
