<div class="content" role="main">
  <div id=search>
   <input type="text" name="username" [(ngModel)]="username"   #nameref="ngModel" size=40px pattern="[a-zA-Z]+" />
    <button type="button" class="btn btn-primary" (click)="Search()"></button>
  </div>
    <div id="users" *ngIf="this.searchResults;">
    Found  {{searchResults.length}} users
      <div class="user" *ngFor="let user of this.searchResults">
        <div id="pic">
        <div id="picture" >
          <img *ngIf="user.imageContent" id="img" [src]="user.imageContent">
          <img *ngIf="!user.imageContent" id="img" style= "background: url('../../assets/img/nopicture.jpg')center no-repeat; object-fit: contain;">
        <div id="online" *ngIf="user.online==true;"></div>
      </div>
      <div class="info">
      <a   routerLink="/profile/{{user.username}}">{{user.username}}</a>
      <h3 *ngIf="!user.activated" style="color: red; font-size: smaller;">deactivated</h3>
      <span *ngIf="user.role!='ROLE_USER'"  style="color:#31708E; margin-left: 10px;"> {{user.role.substr(5).toLowerCase()}}</span> 
      <h3 *ngIf="user.online==true; else lastseen" style="color:#31708E; font-size: smaller;"> online </h3>
        <ng-template #lastseen> <h3 style="color:#31708E; font-size: smaller;">
          Last seen on {{user.lastTimeOnline |  date:'medium'}} </h3> </ng-template>
      </div>
      </div>
  </div>
</div>
</div>