<div class="content container" role="main">
    <div class="col mainstyle container">
        <div class="row jumbotron">
            <h1>%USER_NAME% quiz validation list</h1>
        </div>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="changeList($event)" class="nav-tabs">
            <li [ngbNavItem]="1" [destroyOnHide]="true">
                <a ngbNavLink class="tab-head">Unvalidated</a>
                <ng-template ngbNavContent>
                    <app-validation-tab></app-validation-tab>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" [destroyOnHide]="true">
                <a ngbNavLink class="tab-head">Validated</a>
                <ng-template ngbNavContent>
                    <app-validation-tab></app-validation-tab>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>