.mainstyle {
    border-radius: 8px;
    background-color: #F7F9FB;
}

.content {
    padding-top: 60px;
    min-height: 150em;
}

.message {
    font-weight: bold;
}

.pic {
    padding: 1em;
}

.pic img {
    max-width: 15em;
}

.mrgn-right {
    margin-right: 1em;
}

.fnt-size {
    font-size: large;
    margin: 0;
}

.pdng {
    padding: 0.5em;
}