<div role="main">
    <div class="container-sm mt-2 p-3">
        <div *ngIf="!quizLoading">
            <h1 class="title font-base">Create quiz</h1>
            <div class="row ml-2 mt-3">

                <div class="col-sm-3 ">
                    <img [src]='thumbnail' alt="Upload" class="img-thumbnail" (click)="imageInput.click()">
                    <input style="display: none" #imageInput type="file" accept="image/*" (change)="quizImage($event)">
                </div>

                <div class="col-sm-8">

                    <label>Title:</label>
                    <input class="form-control" type="text" [(ngModel)]="quiz.title" placeholder="Title of quiz">

                    <!-- <label>Category:</label>
                    <input type="text"  [(ngModel)]="quiz">

                    <label>Tags:</label>
                    <input type="text"  [(ngModel)]="tags"> -->

                    <label>Language:</label>
                    <select [(ngModel)]="quiz.language" class="form-control">
                        <option selected="selected" value="eng">English</option>
                        <option value="ukr">Ukrainian</option>
                    </select>


                    <label>Description:</label>
                    <textarea class="form-control" rows="5" [(ngModel)]="quiz.description"
                        placeholder="Description of quiz"></textarea>
                </div>
            </div>



            <div class="m-3">


                <!--DRAFT LOGIC !!! (UPDATE NOT PUBLISHED, FORK FROM PUBLISHED)  -->


                <button class="btn buttonpr mr-4" (click)="saveQuiz()">Save as new quiz</button>
                <button *ngIf="isPublishAvailable()" class="btn buttonsec" (click)="publish()">Publish quiz</button>
            </div>


            <div *ngIf="isQuizCreated()" class="row m-4">
                <div class="col-sm-3">
                    <h3>Questions:</h3>
                    <div *ngFor="let question of questions; let i = index">
                        <button *ngIf="question.id !== ''" class="btn buttonpr mr-1 mt-1 rounded"
                            (click)="showQuestion(i)">{{question.title}}</button>
                        <button *ngIf="question.id === ''" class="btn buttonpn mr-1 mt-1 rounded"
                            (click)="showQuestion(i)">
                            <div *ngIf="question.title !== ''">{{question.title}}</div>
                            <div *ngIf="question.title === ''">New question</div>
                        </button>
                    </div>
                    <button class="btn buttonpr rounded mt-1" (click)="addNewQuestion()">+</button>
                </div>

            </div>

            <div style="text-align: center;" *ngIf="quizLoading">
                <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
            </div>

        </div>

        <div *ngIf="isQuizCreated() && questionSelector !== undefined" class="container-sm mt-2 mb-2 p-4">
            <div>
                <button class="removeb" (click)="removeQuestion()"><img class="bttnimg"
                        src="../assets/img/close-button.png"></button>
                <label>Remove question</label>
            </div>

            <div class="mb-2">
                <app-question-editor-selector [question]="questionSelector" [formData]="questionData"
                    [thumbnail]="questionSelector.imageContent"></app-question-editor-selector>
            </div>


            <p *ngFor="let alert of questionAlerts">
                <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
            </p>
            <button *ngIf="isQuestionCreatorAvailable()" class="btn buttonpr mt-2" (click)="saveQuestion()">Save
                question</button>
        </div>
    </div>