
<div class="content" role="main">
    <div id="create-main" class="div-cont">
        <h1 class="title font-base" >Create quiz</h1>
        <div class="inline" style="padding: 10%;">
            <form action="" method="post">
                <input type="submit" value="Upload Image" name="submit">
            </form>

        </div>
        <div class="inline">
            <div class="block">
                <div>
                    <span class="label font-base">Name:</span>
                    <input id="name" type="text"  [(ngModel)]="name">
                </div>
                
                <div>
                    <span class="label font-base">Category:</span>
                    <input id="category" type="text"  [(ngModel)]="category">
                </div>
                
                <div>
                    <span class="label font-base">Tags:</span>
                    <input id="tags" type="text"  [(ngModel)]="tags">
                </div>
                
                <div class="label font-base">Description:</div>
                <textarea id="description"  name="description"></textarea>
            </div>
        </div>
</div>
<div id="questions" class="div-cont">
    <h1 class="title" >Questions</h1>
    <div id="questionContainer">
        <app-one-of-four></app-one-of-four>
        <app-true-false></app-true-false>
        <app-open-answer></app-open-answer>
        <app-seq-options></app-seq-options>
    </div>
    <div id="buttons">
        <div class="button b1 font-base" style="float: left;" (click)="add()">Add question</div>
        <div class="button b2 font-base"style="float: right;" (click)="publish()">Publish quiz</div>
    </div>
</div>
</div>


  
  