label
{
    font-weight: 600;
    font-size:   20px;
}

textarea
{
    resize: none;
}

.caption {
    opacity: 1; 
    background-color: black;
    color: white;
    position: absolute;
    margin: 0;
    bottom: 0;
    margin-right: -50%;
    width: 100%;

}

.caption:hover {
    opacity: .7; 
    cursor: pointer;
}

.bottom{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius:  .25rem;
}

.bordr{
    border-radius:  .25rem;
}
