<div class="card mb-2">
    <div class="card-header lead cardblock-title">
        {{'announcementsView.title'|translate}}
    </div>
    <div class="card-body p-1">
        <div style="text-align: center;" *ngIf="loading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>
        <div *ngIf="!loading" class="mb-2">
            <div class="p-2" *ngFor="let announcement of announcements; let i = index">
                <hr class="my-2" *ngIf="i != 0">
                <div class="px-3 pb-3 pt-1">
                    <div class="row">
                        <div class="col-sm-10 pl-0">
                            <p style="font-size: 20px;"><strong>{{announcement.title}}</strong></p>
                        </div>
                        <div class="col-sm-2">
                            <p class="float-right">
                                {{announcement.creationDate | date:dateService.datePattern:dateService.currentTimezone}}
                            </p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div *ngIf="announcement.image" class="img-thumbnail embed-responsive 
                        embed-responsive-4by3 pic mx-auto mb-2">
                                <img class="embed-responsive-item"
                                [src]="announcement.image"
                                alt="Announcement icon">
                            </div>
                    </div>
                    <div class="mt-5">
                        <p class="announcement-text">{{announcement.textContent}}</p>
                    </div>
                </div>
                
            </div>

            <ngb-pagination [collectionSize]="collectionSize"
                            [pageSize]="pageSize"
                            [(page)]="page"
                            size="lg"
                            class="d-flex justify-content-center mt-2"
                            (pageChange)="loadPage()">
            </ngb-pagination>
        </div>
    </div>
</div>
