
<label>
  Right answers
</label>
<div class="row  mt-2" *ngFor="let answer of this.question.rightOptions; let i = index; trackBy: trackByFn">
 
    <div class="col-sm-2 text-center" *ngIf="isRemovableRight()">
      <button class="remb" (click)="removeRight(i)">
        <img src="../assets/img/close-button.png">
      </button>
    </div>
    <div class="col-sm-10 mx-auto">
      <input class="form-control"  [(ngModel)]="question.rightOptions[i]" placeholder="answer {{i+1}}">
    </div>

</div>

<div class="container-fluid">
  <div class="col-sm-12 text-center">
    <button *ngIf="isLimitReached()" class="btn addb" (click)="addRight()"><img src="../assets/img/plus.png"></button>
  </div>
</div>





<label >
  Other answers
</label>
<div class="row mt-2" *ngFor="let answer of this.question.otherOptions; let i = index; trackBy: trackByFn">

  <div class="col-sm-2 text-center" *ngIf="isRemovableOther()">
    <button  class="remb" (click)="removeOther(i)">
      <img src="../assets/img/close-button.png">
    </button>
  </div>

  <div class="col-sm-10 mx-auto">
    <input class="form-control"  [(ngModel)]="question.otherOptions[i]" placeholder="answer {{i+1}}">
  </div>


</div>


<div class="container-fluid">
  <div class="col-sm-12 text-center">
    <button *ngIf="isLimitReached()" class="btn addb" (click)="addOther()"><img src="../assets/img/plus.png"></button>
  </div>
</div>

