<div id="main" class="p-1">
    <div class="m-3 ml-4" *ngIf="!isSent">
      <span class="text">Current password</span><br>
      <input type="password" name="password" size=30px [(ngModel)]="currentPassword"/><br>
      <span class="text">New password</span><br>
      <input type="password" name="password" size=30px [(ngModel)]="password"/><br>
      <span class="text">Confirm password</span><br>
      <input type="password" name="confirm-password" size=30px [(ngModel)]="confirmPassword"/><br><br>
      <button type="button"
              class="btn btn-primary btn-dark btn-lg"
              [disabled]="loading"
              (click)="changePassword()"><span class="text">Change</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="loading" class="sr-only">Loading...</span></button><br>
    </div>
      <div class="m-3 ml-4">
        <p>{{answer}}</p>
      </div>
</div>

  
  