<div *ngIf="game; else loading" class="container">
  <div class="row">
    <div class="col-2"></div>
      <div class="col-8">
        <div class="row bg-white rounded">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 text-center">
            <div *ngIf="game.maxUsersCount > 1">
              <p class="mt-4 mb-1 h5">{{'quizList.accessCode' | translate}}:</p>
              <input id="accessCode" ngbTooltip="{{'game.accessCodeHint' | translate}}"
                     [ngStyle]="{'width':'140px'}" type="text" (click)="copyInputMessage($event.target)" readonly class="border-0 mt-0 h4 text-center btn-link" value="{{game.accessId}}">
              <qrcode [margin]="3"
                      [qrdata]="connectUrl + game.accessId"
                      [width]="200"
                      [errorCorrectionLevel]="'M'"
                      [elementType]="'url'"></qrcode>
            </div>
            <button [disabled]="started"
                    *ngIf="creator && ready"
                    (click)="startGame()"
                    class="btn m-3 btn-primary btn-lg">
              <span *ngIf="!started">{{'game.startgame'| translate}}</span>
              <span *ngIf="started" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button *ngIf="!ready"
                    class="btn m-3 btn-success btn-lg"
                    (click)="setReady()">{{'game.ready'| translate}}</button>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 overflow-auto">
            <div class="container mb-4 mt-4">
              <div *ngFor="let session of sessions"
                   class="border border-secondary rounded mx-3 my-1 p-2"
                   [ngClass]="{'border-success': session._creator, 'alert-success': usersSessionsReady.includes(session.game_session_id)}">
                <img class="rounded mr-2"
                     width="35px"
                     [src]="session.image ? session.imageContent : mockImageUrl"
                     alt="{{session.username}}'s avatar">
                <a *ngIf="session.user_id && loggedIn; else anonym"
                   target="_blank"
                   href="{{location}}/profile/{{session.username}}"
                   class="p-2 m-2">{{session.username}} {{'game.connected'| translate}}</a>
                <ng-template #anonym class="p-2 m-2">{{session.username}} {{'game.connected'| translate}}</ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-2"></div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center container bg-white rounded p-4">
              <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
    </div>
</ng-template>
