<div class="card">
    <div class="card-header lead cardblock-title">
        {{'shortList.title'|translate}}
    </div>
    <div class="card-body card-group row row-cols-5" *ngIf="(!isLoading && !isEmpty) ; else (isLoading ? loading : empty)">
        <div class="col mb-0 px-0" *ngFor="let item of shortQuizList">
            <div class="card noborder h-100">
                <a routerLink="/viewquiz/{{item.id}}">
                    <div class="embed-responsive embed-responsive-1by1">
                        <img class="card-img-top embed-responsive-item p-1" [src]="item.imageContent ? item.imageContent : mockImgUrl" alt="Short list card quiz image">
                    </div>
                    <div class="card-body text-center">
                        <p class="card-title h5">{{item.title}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="card-body text-center">
        <fa-icon [icon]="faSpinner" [spin]="true" size="5x"></fa-icon>
    </div>
</ng-template>

<ng-template #empty>
    <p *ngIf="isEmpty" class="card-body lead emptylabel">{{'userQuizzesRating.empty'|translate}}</p>
</ng-template>