<div class="modal-header">
    <h4 class="modal-title">Join QUIZNET</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col">
    <span> Hello, welcome to our community of like-minded people!<br><br>
            Here you’ll have a chance to try out available quizzes, create a few yourself, and, of course, get rewarded for your achievements.<br><br>
            Connect with your friends, have fun playing quizzes together and challenge your peers!<br><br>
            Enjoy!
    </span>
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <input type="text"
                 class="form-control rounded"
                 placeholder="Username"
                 name="username"
                 [(ngModel)]="username"
                 pattern="\w+">
        </div>
        <div class="form-group">
          <input type="email"
                 name="email"
                 placeholder="Email"
                 class="form-control rounded"
                 [(ngModel)]="email"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control rounded" placeholder="Password" [(ngModel)]="password"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control rounded" placeholder="Confirm password" [(ngModel)]="confirmPassword"/>
        </div>
      </form>

       <button type="button" [disabled]="loading" class="btn btn-primary btn-lg" (click)="signUp()">
          <span *ngIf="!loading" class="text">Sign Up</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="loading" class="sr-only">Loading...</span>
       </button>
    </div>
  </div>
  <div *ngIf="message" class="mt-2 text-center h4 alert alert-warning">
        {{message}}
      </div>
</div>
