<div class="container-sm p-4 ">
    <div *ngIf="!loading && activities.length > 0; else elseBlock">
        <div *ngFor="let act of activities; let i = index" >
            <div [routerLink]="act.link" class="pointer no-outline">
                <hr class="my-4" *ngIf="i != 0">
                <div class="row">
                    <div class="col-sm-10">
                        <p style="font-size: 20px;" >
                            <span class="no-outline" routerLink="/profile/{{act.username}}">
                                <img *ngIf="act.imageContent !== null" [src]='act.imageContent' class="img-thumbnail avatar">
                                <img *ngIf="act.imageContent === null" src="../assets/img/nopicture.jpg" class="img-thumbnail avatar">
                                <strong class="ml-2">{{act.username}}</strong>
                            </span>     
                        </p>
            
                    </div>
                    <div class="col-sm-2 float-right">
                        <p style="font-style: italic;">
                            {{act.datetime | date:dateService.datePattern:dateService.currentTimezone}}
                        </p>
                    </div>
                </div>
                <p class="mt-2">{{act.content}}</p>
            </div>
        </div>
        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                class="d-flex justify-content-center" (pageChange)="loadPage()"></ngb-pagination>
    </div>

    <ng-template #elseBlock>
        <div *ngIf="activities.length === 0 && !loading" style="text-align: center;">
            {{ 'utils.notFound' | translate }}
        </div>
        <div [hidden]="!loading" style="text-align: center;">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>
    </ng-template>
</div>
