.container-sm
{
    border-radius:    8px;
    background-color: #F7F9FB;
    box-shadow:       0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avatar
{
    vertical-align: middle;
    width:          50px;
    height:         50px;
    border-radius:  50%;
}
