<div class="content container" role="main">
    <div class="col mainstyle">
        <div class="row">
            <div class="col jumbotron">
                <h1 class="display-4"><strong>Quiz review:</strong> "{{quiz.title}}"</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" [src]="quiz.imageContent ? quiz.imageContent : this.mockImageUrl" alt="Quiz icon">
            </div>
            <div class="col-md-8 fnt-size">
                <p><strong>Description: </strong>{{quiz.description}}</p>
                <a routerLink="profile/:{{quiz.author}}">
                    <p><strong>Author: </strong>{{quiz.author}}</p>
                </a>
                <p><strong>Date of creation: </strong>{{quiz.creationDate}}</p>
                <p><strong>Language: </strong>{{quiz.language}}</p>
                <p *ngIf="quiz.tagNameList">
                    <strong>Tags: </strong><span *ngFor="let tag of quiz.tagNameList; let isLast=last">{{tag}}{{isLast? '' : ', '}}</span>
                </p>
                <p *ngIf="quiz.categoryNameList">
                    <strong>Categories: </strong><span *ngFor="let cat of quiz.categoryNameList; let isL=last">{{cat}}{{isL? '' : ', '}}</span>
                </p>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg buttonsec float-none" type="button">Reject</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-lg buttonpr float-right mrgn-right" type="button">Validate</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h1 class="text-center quest-title display-4">Questions</h1>
            </div>
        </div>
        <div class="row quest" *ngFor="let question of (questionList$ | async); let i = index">
            <div class="col quest-cont-title">
                <hr>
                <h3 class="lead q-fnt">Question {{i+1}}. {{question.title}}</h3>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <img *ngIf="question.imageContent" class="img-fluid" [src]="question.imageContent" alt="Question image">
                        <!--<img class="img-fluid" [src]="this.mockImageUrl">-->
                    </div>
                </div>
                <h5 class="text-left quest-content">{{question.content}}</h5>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Info</h4>
                        <hr>
                        <p>Points: {{question.points}}</p>
                        <p>Type: {{question.typeName}}</p>
                    </div>
                    <div class="col-md-8">
                        <h4>Answers</h4>
                        <hr>
                        <!--
                        <div *ngIf="isOneOfFour(question.typeId)">

                        </div>-->
                    </div>
                </div>
            </div>

        </div>
        <!--
            <div class="pagination-container row">
                <ngb-pagination class="d-flex justify-content-center" size="lg" [pageSize]="pageSize" [collectionSize]="totalSize$ | async" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>-->
    </div>
</div>