.mainstyle {
    border-radius: 8px;
    background-color: #F7F9FB;
    min-height: 10hv;
}

.content {
    padding-top: 60px;
    min-height: 150em;
}

.pagination-container {
    width: 100%;
}

.quest-title {
    padding-top: 0.5em;
}

.quest-cont-title {
    background-color: #eaedf0;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.quest {
    margin-top: 2em;
}

.quest-content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.75rem;
}

.fnt-size p {
    font-size: 1.5rem;
}

.q-fnt {
    font-size: 2rem;
}

.q-info .q-info-head {
    font-size: 2rem;
}

.q-info p {
    font-size: 1.5rem;
}

.ans-head {
    padding-left: 0.5em;
}

.ans-r {
    font-weight: bold;
}

.ans {
    font-size: 1.2rem;
    padding-left: 1.1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid grey;
}

.seq-ftn {
    font-size: 1.4rem;
}