<div class="content container" role="main">
    <div class="col mainstyle container">
        <div class="row jumbotron container">
            <h1 class="row col">Quiz review</h1>
            <div class="row media">
                <div class="media-left media-middle pic">
                    <img class="media-object" src="../../assets/img/quiz.jpg">
                </div>
                <div class="media-body">
                    <p class="fnt-size"><strong>Description:</strong>{{quiz.title}}</p>
                    <p class="fnt-size"><strong>Author:</strong>
                        <a routerLink=""></a>
                    </p>
                    <p class="fnt-size"><strong>Date of creation:</strong></p>
                    <p class="fnt-size"><strong>Language:</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>