.mainstyle {
    border-radius: 8px;
    background-color: #F7F9FB;
    min-height: 10hv;
}

.content {
    padding-top: 60px;
    min-height: 150em;
}

.pagination-container {
    width: 100%;
}

.quest-title {
    padding-top: 0.5em;
}

.quest-cont-title {
    margin-left: 1em;
    margin-bottom: 1em;
}

.quest {
    margin-top: 2em;
}

.quest-content {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.fnt-size p {
    font-size: 1.5rem;
}

.q-fnt {
    font-size: 2rem;
}

.q-info {
    font-size: 2rem;
}