<div class="card mb-2">
    <div class="card-header lead">
        {{'lastAchievements.title' | translate}}
    </div>
    <div class="card-body p-1 overflow-auto" *ngIf="!isEmpty ; else empty">
        <ul class="list-unstyled mb-0">
            <li class="media" *ngFor="let item of achievements$ | async" routerLink='/profile'>
                <div class="embed-responsive embed-responsive-1by1" placement="right" ngbTooltip="{{item.description}}">
                    <img class="mr-2 embed-responsive-item align-self-center pic"
                         [src]="item.imageContent ? item.imageContent : this.mockImgUrl"
                         alt="Achievement icon">
                </div>
                <div class="media-body">
                    <p class="bold p-2">{{item.title}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Showing this when the list is empty -->
<ng-template #empty>
    <p *ngIf="isEmpty" class="lead emptylabel">{{'lastAchievements.empty' | translate}}.</p>
</ng-template>
