.embed-responsive .pic
{
    object-fit: cover;
}

.embed-responsive
{
    max-width: 25%;
}

.media :hover
{
    cursor: pointer;
}

.card
{
    height: 40vh;
}

@media (min-width: 768px)
{
    .embed-responsive
    {
        min-width: 15% !important;
        max-width: 35% !important;
    }
}
