<div role="main">
    <div class="container-sm mb-2 p-3">
        <div *ngIf="!quizLoading">
            <h1 class="title font-base pl-2" style="margin: 0;">{{ 'quizCreation.createQuiz' | translate }}</h1>
            <div class="p-2 mt-2">
                <label>{{ 'utils.title' | translate }} <span *ngIf="!quiz.published"
                    style="color: red;">*</span></label>
                <div class="row">
                
                    <div class="col-sm-8 mb-3">
    
                        
    
                        <input [disabled]="quiz.published"
                               class="form-control"
                               type="text"
                               maxlength="50"
                               [(ngModel)]="quiz.title"
                               placeholder="{{ 'utils.title' | translate }} {{ 'quizCreation.ofQuiz' | translate }}"
                               autocomplete="off">
    
    
                        <div class="mt-2">
                            <app-badge-editor [available]="!quiz.published" [label]="tagLabel" [tagCateg]="quiz.tags">
                            </app-badge-editor>
                        </div>
    
    
                        <div class="mt-2">
                            <app-badge-editor [available]="!quiz.published" [label]="categoryLabel"
                                              [tagCateg]="quiz.categories"></app-badge-editor>
                        </div>
    
    
    
                        <label class="mt-2">{{ 'utils.language' | translate }}</label>
                        <select [disabled]="quiz.published" [(ngModel)]="quiz.language" class="form-control">
                            <option selected="selected" value="eng">English</option>
                            <option value="ukr">Українська</option>
                        </select>
    
    
                        <label class="mt-2">{{ 'utils.description' | translate }} <span *ngIf="!quiz.published"
                                                                           style="color: red;">*</span></label>
                        <textarea class="form-control" rows="5" [disabled]="quiz.published" maxlength="250"
                                  [(ngModel)]="quiz.description"
                                  placeholder="{{ 'utils.description' | translate }} {{ 'quizCreation.ofQuiz' | translate }}"
                                  autocomplete="off">
                        </textarea>
                    </div>
                    <div class="col-sm-4">
                        <div *ngIf="!quiz.published; else elseBlock">
                            <div style="position: relative; background-color: white;">
                                <img [src]="thumbnail ? thumbnail : '../assets/img/default-image.jpg'" 
                                class="img-fluid mx-auto d-block bordr">
                                 <div class="caption p-2 bottom" (click)="imageInput.click()">
                                    {{ 'quizCreation.upload' | translate }}
                                </div>
                            </div>
                            
    
                            <input style="display: none" #imageInput type="file" accept="image/*"
                                   (change)="quizImage($event)">
    
                            <button *ngIf="thumbnail !== null && thumbnail !== undefined"
                                    class="btn buttondel mt-2 text-center" (click)="removeImage()">
                                {{ 'utils.remove' | translate }} {{ 'utilsOther.image' | translate }}
                            </button>
                        </div>
    
                        <ng-template #elseBlock>
                            <img [src]="thumbnail ? thumbnail : '../assets/img/quiz.jpg'"
                                 class="img-thumbnail">
                        </ng-template>
    
                    </div>
                </div>

                <div class="row mt-3 p-2">
                    <div class="ml-2">
                        <div>
                            <button class="btn buttonpr btn-sized" (click)="saveQuiz()">
                                <div *ngIf="!quiz.published">{{ 'utils.save' | translate }}</div>
                                <div *ngIf="quiz.published">
                                    {{ 'quizCreation.save' | translate }}
                                </div>
                            </button>
                        </div>
                    
                        <div class="mt-2" style="display: inline-block !important;">
                            <button [disabled]="!isPublishAvailable()" class="btn buttonsec btn-sized" (click)="publish()">
                                {{ 'quizCreation.publish' | translate }}
                            </button>
                            
                        </div>
                        <span *ngIf="!isPublishAvailable()" class="ml-2" placement="right" 
                        ngbTooltip="{{ 'quizCreation.publishHelp' | translate }}">
                            <svg class="bi bi-question-circle" width="2em" height="2em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                      clip-rule="evenodd"/>
                                <path
                                        d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                            </svg>
                        </span>
                    </div> 
                </div>
            </div>
        </div>

        <div style="text-align: center;" *ngIf="quizLoading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>

    </div>

    <div *ngIf="isQuizCreated()" class="container-sm my-2 p-4">
        <div class="title font-base" style="display: inline !important;">{{ 'utils.questions' | translate }}</div>
        <span placement="right" ngbTooltip="{{ 'quizCreation.questionHelp' | translate }}">
            <svg class="bi bi-question-circle" width="2em" height="2em" viewBox="0 0 16 16"
                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                      clip-rule="evenodd"/>
                <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg>
        </span>
        <div class="mt-3 questionpos">
            <div class="ml-2">
                <ng-template [ngIf]="questions.length > 0" [ngIfElse]="emptyList">

                    <div *ngFor="let question of questions; let i = index">
                        <div class="btn-group">
        
                            <button class="btn mr-1 mt-1 rounded" (click)="showQuestion(i)"
                                [ngClass]="{'buttonpn': question.id === '', 
                                'buttonpr': question.id !== '','selected': questionSelector === questions[i]}">
                                <div style="overflow-wrap: break-word;" *ngIf="question.title !== ''">
                                    {{question.title}}</div>
                                <div *ngIf="question.title === ''">{{ 'quizCreation.newQuestion' | translate }}</div>
                            </button>
                            <button *ngIf="!quiz.published" class="removeb" (click)="removeQuestionIndex(i, false)">
                                <img class="bttnimg" src="../assets/img/close-button.png">
                            </button>
                        </div>
                    </div>
        
                </ng-template>
                <ng-template #emptyList>
                    <p class="my-auto" style="font-size: 15px; font-weight: 600;">
                        {{ 'quizCreation.emptyList' | translate }}
                    </p>
                </ng-template>
            </div>
        </div>

        <button *ngIf="isQuestionCreatorAvailable()" class="btn buttonpr rounded mt-4"
            (click)="addNewQuestion()">{{ 'quizCreation.addQuestion' | translate }}</button>
    </div>

    

    <div *ngIf="isQuizCreated()  && questionSelector" class="container-sm my-2 p-4">
        
                
        <div *ngIf="!questionLoading">
            <div *ngIf="!quiz.published">
                <button class="btn buttondel" (click)="removeQuestion()">
                    {{ 'utils.remove' | translate }} {{ 'quizCreation.question' | translate }}
                </button>

            </div>

            <div class="mb-2">
                <app-question-editor-selector [available]="!quiz.published" [question]="questionSelector"
                                              [thumbnail]="questionSelector.imageContent"></app-question-editor-selector>
            </div>

            <button *ngIf="isQuestionCreatorAvailable()" class="btn buttonpr mt-2" (click)="saveQuestion()">
                {{ 'utils.save' | translate }} {{ 'quizCreation.question' | translate }}</button>
        </div>
        <div style="text-align: center;" *ngIf="questionLoading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>

    </div>
</div>
