<div role="main">
    <div class="container-sm mt-2 mb-2 p-3">
        <div *ngIf="!quizLoading">
            <h1 class="title font-base">{{ 'quizCreation.createQuiz' | translate }}</h1>
            <div class="row ml-2 mt-3">

                <div class="col-sm-3 ">
                    <div *ngIf="!quiz.published; else elseBlock">
                        <div style="position: relative;">
                            <img [src]="thumbnail ? thumbnail : '../assets/img/default-image.jpg'" class="img-fluid">
                             <div class="caption p-2" (click)="imageInput.click()">
                                Upload
                            </div>
                        </div>
                        

                        <input style="display: none" #imageInput type="file" accept="image/*"
                               (change)="quizImage($event)">

                        <button *ngIf="thumbnail !== null && thumbnail !== undefined"
                                class="btn buttondel mt-2 text-center" (click)="removeImage()">
                            {{ 'utils.remove' | translate }} {{ 'utilsOther.image' | translate }}
                        </button>
                    </div>

                    <ng-template #elseBlock>
                        <img [src]="thumbnail ? thumbnail : '../assets/img/quiz.jpg'"
                             class="img-thumbnail">
                    </ng-template>

                </div>


                <div class="col-sm-8">

                    <label>{{ 'utils.title' | translate }} <span *ngIf="!quiz.published"
                                                                 style="color: red;">*</span></label>

                    <input [disabled]="quiz.published"
                           class="form-control"
                           type="text"
                           maxlength="50"
                           [(ngModel)]="quiz.title"
                           placeholder="{{ 'utils.title' | translate }} {{ 'quizCreation.ofQuiz' | translate }}">


                    <div class="mt-2">
                        <app-badge-editor [available]="!quiz.published" [label]="tagLabel" [tagCateg]="quiz.tags">
                        </app-badge-editor>
                    </div>


                    <div class="mt-2">
                        <app-badge-editor [available]="!quiz.published" [label]="categoryLabel"
                                          [tagCateg]="quiz.categories"></app-badge-editor>
                    </div>



                    <label class="mt-2">{{ 'utils.language' | translate }}</label>
                    <select [disabled]="quiz.published" [(ngModel)]="quiz.language" class="form-control">
                        <option selected="selected" value="eng">English</option>
                        <option value="ukr">Українська</option>
                    </select>


                    <label>{{ 'utils.description' | translate }} <span *ngIf="!quiz.published"
                                                                       style="color: red;">*</span></label>
                    <textarea class="form-control" rows="5" [disabled]="quiz.published" maxlength="250"
                              [(ngModel)]="quiz.description"
                              placeholder="{{ 'utils.description' | translate }} {{ 'quizCreation.ofQuiz' | translate }}">
                    </textarea>
                </div>
            </div>



            <div class="m-3">
                <button class="btn buttonpr mr-4" (click)="saveQuiz()">
                    <div *ngIf="!quiz.published">{{ 'utils.save' | translate }}</div>
                    <div *ngIf="quiz.published">
                        {{ 'quizCreation.save' | translate }}
                    </div>

                </button>
                <button *ngIf="isPublishAvailable()" class="btn buttonsec" (click)="publish()">
                    {{ 'quizCreation.publish' | translate }}
                </button>
            </div>


            <div *ngIf="isQuizCreated()">
                <h3>{{ 'utils.questions' | translate }}</h3>
                <div class="m-2 p-3 questionpos">
                    <div class="">

                        <div *ngFor="let question of questions; let i = index">
                            <div class="btn-group">
                                <button *ngIf="!quiz.published" class="removeb" (click)="removeQuestionIndex(i, false)">
                                    <img class="bttnimg" src="../assets/img/close-button.png">
                                </button>
                                <button class="btn mr-1 mt-1 rounded" (click)="showQuestion(i)" [ngClass]="{'buttonpn': question.id === '', 
                                    'buttonpr': question.id !== '','selected': questionSelector === questions[i]}">
                                    <div style="overflow-wrap: break-word;" *ngIf="question.title !== ''">
                                        {{question.title}}</div>
                                    <div *ngIf="question.title === ''">{{ 'quizCreation.newQuestion' | translate }}</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button *ngIf="isQuestionCreatorAvailable()" class="btn buttonpr rounded mt-1 ml-2"
                    (click)="addNewQuestion()">{{ 'quizCreation.addQuestion' | translate }}</button>
        </div>

        <div style="text-align: center;" *ngIf="quizLoading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>

    </div>

    <div *ngIf="isQuizCreated() && questionSelector !== undefined" class="container-sm mt-2 mb-2 p-4">
        <div *ngIf="!questionLoading">
            <div *ngIf="!quiz.published">
                <button class="btn buttondel" (click)="removeQuestion()">{{ 'utils.remove' | translate }} {{ 'quizCreation.question' | translate }}</button>

            </div>

            <div class="mb-2">
                <app-question-editor-selector [available]="!quiz.published" [question]="questionSelector"
                                              [thumbnail]="questionSelector.imageContent"></app-question-editor-selector>
            </div>

            <button *ngIf="isQuestionCreatorAvailable()" class="btn buttonpr mt-2" (click)="saveQuestion()">
                {{ 'utils.save' | translate }} {{ 'quizCreation.question' | translate }}</button>
        </div>
        <div style="text-align: center;" *ngIf="questionLoading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>

    </div>
</div>
