.parent {
    height: 86vh;
    background-color: #F7F9FB;
}

.write {
    height: 15%;
}

.show {
    height: 75%;
}

.head {
    height: 10%;
}

.break {
    word-wrap: break-word;
}

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.send {
    min-width: 20%;
}