<div class="part col" id="right">
    <span class="header-text"> Create {{userrole.substr(5).toLowerCase()}}</span><br><br>
    <div>
        <button class="close-btn" type="button" name="button" (click)="activeModal.dismiss('Cross click')" ><img src="../assets/img/close-button.jpg"></button>
      <span class="text">Username</span><br>
      <input type="text" name="username" size=30px [(ngModel)]="username" pattern="[a-zA-Z]+" #nameref="ngModel"/><br>
      <div *ngIf="nameref.errors &&(nameref.touched || nameref.dirty)" class ="alert alert-danger">
        <div [hidden]="!nameref.errors?.pattern">Invalid username!</div>
      </div>
      <span class="text">Email</span><br>
      <input type="email" name="email" id="email" size=30px [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel"/><br>
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
        <div [hidden]="!emailref.errors?.pattern">Invalid email!</div>
      </div>
      <span class="text">Password</span><br>
      <input type="password" name="password" size=30px [(ngModel)]="password"/><br>
      <span class="text">Confirm password</span><br>
      <input type="password" name="confirm-password" size=30px [(ngModel)]="confirmPassword"/><br><br>
      <button type="button" class="btn btn-primary btn-lg" (click)="create()"><span class="text"> Create </span></button><br>
    </div><br>
  </div>
  