<div role="main">
    <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <div class="container-sm mt-2 p-4">
        <div *ngIf="!loading">
            <div *ngIf="!editorEnabled">
                <button class="btn addb" (click)="add()"><img src="../assets/img/plus.png"></button>
            </div>

	        <!-- ANNOUNCEMENT ADD -->

            <div *ngIf="inEdit[0] && !saveLoading">
                <div><label>Adding announcement</label></div>
                <label class="mt-4">{{ 'utils.title' | translate }}:</label>
                <input class="form-control"
                       [(ngModel)]="currentAnnouncement.title"
                       placeholder="{{ 'utils.title' | translate }}">
                <label>{{ 'utils.content' | translate }}:</label>
                <textarea class="form-control" rows="5" [(ngModel)]="currentAnnouncement.textContent"
                          placeholder="{{ 'utils.content' | translate }}"></textarea>

                <button *ngIf="thumbnail !== null" class="btn buttondel mt-2" (click)="removeImage()">
                    {{ 'quizCreation.remove' | translate }} {{ 'quizCreation.image' | translate }}
                </button>
                <div class="mt-2">
                    <img [src]='thumbnail' alt="Upload" class="img-thumbnail" (click)="imageInput.click()">
                    <input style="display: none" #imageInput type="file" accept="image/*"
                           (change)="uploadImage($event)">
                </div>

                <div class="mt-4">
                    <button class="btn buttonsec" (click)="saveAdd()">{{ 'utils.save' | translate }}</button>
                    <button class="btn buttonpr ml-2" (click)="cancel(-1)">{{ 'utils.cancel' | translate }}</button>
                </div>
            </div>
            <div *ngIf="inEdit[0] && saveLoading">
                <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
            </div>


	        <!-- ANNOUNCEMENTS LIST -->

            <div class="mb-4" *ngFor="let announcement of announcements; let i = index">
                <div *ngIf="!inEdit[i+1]">
                    <hr class="my-4">
                    <div class="row">
                        <div class="col-sm-8">
                            <label>{{announcement.title}}</label>

                            <div>
                                <img *ngIf="announcement.image !== null" [src]='announcement.image'
                                     class="img-thumbnail">
                            </div>

                            <button class="btn" (click)="isCollapsed[i] = !isCollapsed[i]">
                                <a>{{ 'utils.content' | translate }}</a>
                                <span
		                                *ngIf="!isCollapsed[i]">
                                    ↑</span><span *ngIf="isCollapsed[i]"> ↓</span>
                            </button>
                            <div [ngbCollapse]="isCollapsed[i]">
                                <p>{{announcement.textContent}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3 float-right">
                            <p style="font-style: italic;">{{announcement.creationDate | date}}</p>
                            <p style="font-weight: bold;">{{announcement.creatorId}}</p>
                        </div>
                    </div>


                    <div class="mt-4"><i class="fas fa-chevron-down"></i>
                        <button *ngIf="!editorEnabled"
                                class="btn buttonpr"
                                (click)="edit(i)">{{ 'utils.edit' | translate }}</button>
                        <button class="btn buttondel ml-2" (click)="delete(i)">
                            {{ 'utils.delete' | translate }} {{ 'utils.announcement' | translate }}
                        </button>
                    </div>
                </div>


	            <!-- ANNOUNCEMENT EDITOR -->

                <div *ngIf="inEdit[i+1] && !saveLoading">
                    <hr class="my-4">
                    <div>
                        <label>Editing announcement of {{currentAnnouncement.creatorId}}</label>
                        <p style="font-style: italic;">{{announcement.creationDate | date}}</p>
                    </div>
                    <label>{{ 'utils.title' | translate }}:</label>
                    <input class="form-control"
                           [(ngModel)]="currentAnnouncement.title"
                           placeholder="{{ 'utils.title' | translate }}">
                    <label>{{ 'utils.content' | translate }}:</label>
                    <textarea class="form-control" rows="5" [(ngModel)]="currentAnnouncement.textContent"
                              placeholder="{{ 'utils.content' | translate }}"></textarea>


                    <button *ngIf="thumbnail !== null" class="btn buttondel mt-2" (click)="removeImage()">
                        {{ 'utils.remove' | translate }} {{ 'utilsOther.image' | translate }}
                    </button>
                    <div class="mt-2">
                        <img [src]='thumbnail' alt="Upload" class="img-thumbnail" (click)="imageInput.click()">
                        <input style="display: none" #imageInput type="file" accept="image/*"
                               (change)="uploadImage($event)">
                    </div>

                    <div class="mt-4"><i class="fas fa-chevron-down"></i>
                        <button class="btn buttonsec" (click)="saveEdit(i)">{{ 'utils.save' | translate }}</button>
                        <button class="btn buttonpr ml-2" (click)="cancel(i)">{{ 'utils.cancel' | translate }}</button>
                    </div>
                </div>
                <div *ngIf="inEdit[i+1] && saveLoading">
                    <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
                </div>

            </div>


	        <!-- PAGINATION -->

            <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                            class="d-flex justify-content-center" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
        <div style="text-align: center;" *ngIf="loading">
            <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
        </div>

    </div>
</div>
