.container-sm
{
    border-radius:    8px;
    background-color: #F7F9FB;
    box-shadow:       0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea
{
    resize: none;
}

label
{
    font-weight: 600;
    font-size:   20px;
}

.form-control
{
    color:       black;
    font-weight: 400;
}

.btn
{
    outline:    none !important;
    box-shadow: 0 0 0 0;
}

a
{
    font-weight: 600;
    color:       #74BDE6;
}

a:hover
{
    text-decoration: underline;
}

.buttondel
{
    background-color: #DB3545;
}

.buttondel:hover
{
    background-color: #D94E5C;
}


button.addb
{

    margin-top:       2px;
    border:           0px;
    background-color: transparent;
}

button img
{
    width:  50px;
    height: 50px;
}

.pointer:hover{
    cursor: pointer;
}

.caption {
    opacity: 1; 
    background-color: black;
    color: white;
    position: absolute;
    margin: 0;
    bottom: 0;
    margin-right: -50%;
    width: 100%;

}

.caption:hover {
    opacity: .7; 
    cursor: pointer;
}

.bottom{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius:  .25rem;
}

.bordr{
    border-radius:  .25rem;
}

.pic{
    max-width: 90%;
}

@media (min-width: 768px)
{
    .pic
    {
        max-width: 60% !important;
    }
}

@media (min-width: 1180px)
{
    .pic
    {
        max-width: 50% !important;
    }
}
