.embed-responsive .pic
{
    object-fit: cover;
}

.embed-responsive
{
    max-width: 25%;
}

.media :hover
{
    cursor: pointer;
}

.media
{
    margin-bottom: 0.5em;
}

.card
{
    height: 40vh;
}

.quiztitle
{
    font-size:     1.2em;
    padding:       0;
    margin-bottom: 0.1em;
    
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 768px)
{
    .embed-responsive
    {
        min-width: 15% !important;
        max-width: 25% !important;
    }
}

.bg :hover {
    background-color: #ebe8e8;
}

li{
    outline:    none !important;
    box-shadow: none;   
}

.loading{
    padding-top: 3.5em;
}