div.main {
  position: relative;
  border-radius: 8px;
  top:20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color:#F7F9FB;
  height: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.part {
  display: table-cell;
}

div.alert-danger {
  width: 50%;
}

#left {
  width: 50%;
}

#right {
  padding-left: 50px;
}

span.header-text {
  position: absolute;
  left: 65%;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #31708E;
}

img {
  width: 20px;
  height: 20px;
}

button.close-btn {
  margin-left: 93%;
  margin-top: 2px;;
  border: 0px;
  background: rgba(255, 255, 255, 0);
}

span.text {
  margin-left: 1%;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

span.link {
  position: absolute;
  margin-left: 0%;
  margin-top: auto;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #5085A5;
}

input {
  width: 70%;
  height: 30px;
  background: #ECF0F1;
  border: 1px solid #687864;
}

#have-acc-text {
    margin-right: 23%;
}

#text-button {
  margin-left: 5%;
}

button.btn-primary {
  width: 15%;
  height: 30px;
  background: #8FC1E3;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

#log-in-link {
  margin-left: -2%
}

span.join-header {
  position: absolute;
  left: 17%;
}

@media (max-width: 1200px) {
  .btn-primary {
    width: 25%;
  }
}

@media (max-width: 1000px) {
    div.part {
      display: block;
    }
    #left {
      width: 100%;
    }
    #right {
      padding-left: 5px;
    }
    span.join-header {
      left: 40%;
    }
    span.header-text {
      left: 40%;
    }
    .btn-primary {
      width: 15%;
    }
}

@media (max-width: 800px) {
  .btn-primary {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .btn-primary {
    width: 30%;
  }
}
