<div class="main">
  <button class="close-btn" type="button" name="button" (click)="goHomePage()"><img src="../assets/img/close-button.jpg"></button>
<div class="part" id="left">
  <span class="join-header"><b>Join QUIZNET</b></span><br>
  <span> Hello, welcome to our community of like-minded people!<br><br>
        Here you’ll have a chance to try out available quizzes, create a few yourself, and, of course, get rewarded for your achievements.<br><br>
        Connect with your friends, have fun playing quizzes together and challenge your peers!<br><br>
        Enjoy!</span>
</div>

<div class="part" id="right">
  <span class="header-text">Sign Up</span><br><br>
  <div>
    <span class="text">Username</span><br>
    <input type="text" name="username" size=30px [(ngModel)]="username" pattern="^[A-Za-z0-9_-]{3,20}$" #nameref="ngModel"/><br>
    <div *ngIf="nameref.errors &&(nameref.touched || nameref.dirty)" class ="alert alert-danger">
      <div [hidden]="!nameref.errors?.pattern">Invalid username!</div>
    </div>
    <span class="text">Email</span><br>
    <input type="email" name="email" id="email" size=30px [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel"/><br>
    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
      <div [hidden]="!emailref.errors?.pattern">Invalid email!</div>
    </div>

    <span class="text">Password</span><br>
    <input type="password" name="password" size=30px [(ngModel)]="password"/><br>
    <span class="text">Confirm password</span><br>
    <input type="password" name="confirm-password" size=30px [(ngModel)]="confirmPassword"/><br><br>
    <button type="button" class="btn btn-primary" (click)="signUp()"><span class="text" id="text-button">Sign Up</span></button><br>
  </div><br>
  <span class="text" id="have-acc-text">Already have an account?</span><span class="link" id="log-in-link"><a href="./log-in">Log in here</a></span>
</div>
</div>
