<div class="toolbar" role="banner">
  <div id="innertoolbar">
    <span><a class="toolbaritm" href="./" style="left: 1%;">MAIN PAGE</a> </span>
    <span><a class="toolbaritm" href="./">QUIZZES</a> </span>
    <span id="searchquiz"> <form class="toolbaritm right"><input type="text">	</form></span>
    <span><a class="toolbaritm right" (click)="openLogin()">LOG IN</a></span>
    <span><a class="toolbaritm right" (click)="openReg()">SIGN UP </a> </span>
  </div>
</div>

<!--<ng-template #login>-->
<!--<app-log-in></app-log-in>-->
<!--</ng-template>-->

<!--<ng-template #register>-->
<!--<app-sign-up></app-sign-up>-->
<!--</ng-template>-->
