<div class="toolbar" role="banner" *ngIf="signedIn== false" >
  <div id="innertoolbar">
    <span><a class="toolbaritm" routerLink="/" style="left: 1%;">MAIN PAGE</a> </span>
    <span><a class="toolbaritm" routerLink="/quiz-list">QUIZZES</a></span>
    <span id="searchquiz"> <form class="toolbaritm right"><input type="text">	</form></span>
    <span><a class="toolbaritm right" (click)="openLogin()">LOG IN</a></span>
    <span><a class="toolbaritm right" (click)="openReg()">SIGN UP </a> </span>
  </div>
</div>

<ng-container *ngIf="signedIn && !privileged" >
  <div class="toolbar" role="banner">
    <div id="innertoolbar">
      <span><a class="toolbaritm" href="./profile" style="left: 1%;">PROFILE</a> </span>
      <span><a class="toolbaritm" routerLink="/quiz-list">QUIZZES</a> </span>
      <span><a class="toolbaritm"  href="./users">USERS</a> </span>
      <span id="searchquiz" style="margin-left: 0;">
        <form><input type="text"> </form>
      </span>
      <span><a class="toolbaritm right" routerLink="/">LOG OUT</a></span>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="signedIn == true  && privileged == true">
  <div class="toolbar" role="banner">
    <div id="innertoolbar">
      <span><a class="toolbaritm" href="./privileged/main">MAIN</a> </span>
      <span><a class="toolbaritm" href="./profile" style="left: 1%;">PROFILE</a> </span>
      <span><a class="toolbaritm" href="./">QUIZZES</a> </span>
      <span><a class="toolbaritm" href="./users">USERS</a> </span>
      <span id="searchquiz" style="margin-left: 0;">
        <form><input type="text"> </form>
      </span>
      <span><a class="toolbaritm right" href="./">LOG OUT</a></span>
    </div>
  </div>
</ng-container>

<!--<ng-template #register>-->
<!--<app-sign-up></app-sign-up>-->
<!--</ng-template>-->
