<div class="p-1">
    <div class="m-3 ml-4" *ngIf="!isSent">
      <span class="text">{{'authorization.changePassword.currentPass'| translate}}</span><br>
      <input class="form-control" type="password" name="password" size=30px [(ngModel)]="currentPassword" autocomplete="off"/><br>
      <span class="text">{{'authorization.changePassword.newPass'| translate}}</span><br>
      <input class="form-control" type="password" name="password" size=30px [(ngModel)]="password" autocomplete="off"/><br>
      <span class="text">{{'authorization.signUp.confPassword'| translate}}</span><br>
      <input class="form-control"
             type="password"
             name="confirm-password"
             size=30px
             [(ngModel)]="confirmPassword"
             autocomplete="off"/><br><br>
      <button
		      class="btn buttonpr"
		      [disabled]="loading"
		      (click)="changePassword()"><span class="text">{{'authorization.changePassword.button'| translate}}</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="loading" class="sr-only">{{'game.loading'| translate}}</span></button><br>
    </div>
      <div class="m-3 ml-4">
        <p>{{answer}}</p>
      </div>
</div>

  
