<div class="container">
    <div *ngFor="let item of quizList$ | async" class="row media">
        <div class="media-left media-middle pic">
            <img class="media-object" src="../../assets/img/quiz.jpg">
        </div>
        <div class="media-body">
            <h4>{{item.title}}</h4>
            <p class="fnt-size"><strong>Description:</strong>{{item.description}}</p>
            <p class="fnt-size"><strong>Author:</strong><a routerLink="">{{item.username}}</a></p>
            <p class="fnt-size"><strong>Date of creation:</strong>{{item.creationDate}}</p>
            <p class="fnt-size"><strong>Language:</strong>{{item.language}}</p>
            <p>
                <button class="btn btn-lg buttonsec float-none" type="button">Reject now</button>
                <button class="btn btn-lg buttonpr float-right mrgn-right" type="button">Validate</button>
            </p>
        </div>
    </div>
    <div class="pagination-container">
        <ngb-pagination class="d-flex justify-content-center" size="lg" [collectionSize]="totalSize$ | async" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>