<div class="container">
    <div *ngFor="let item of quizList$ | async" class="row media border rounded-lg shadow-sm p-2 mb-4">
        <div class="media-left media-middle pic">
            <img class="media-object" [src]="item.imageContent ? item.imageContent : this.mockImageUrl" alt="Quiz icon">
        </div>
        <div class="media-body">
            <a routerLink="/viewquiz/{{item.id}}">
                <h4>{{item.title}}</h4>
            </a>
            <p *ngIf="!showButtons && !item.published && !item.activated" class="badge badge-danger">Rejected</p>
            <p class="fnt-size"><strong>Description: </strong>>{{item.description}}</p>
            <p class="fnt-size"><strong>Author: </strong><a routerLink="/profile/{{item.username}}"><u>{{item.username}}</u></a></p>
            <p class="fnt-size"><strong>Date of creation: </strong>{{item.creationDate}}</p>
            <p class="fnt-size"><strong>Language: </strong>{{item.language}}</p>
            <p *ngIf="showButtons">
                <button class="btn btn-lg buttonsec float-none" type="button" (click)="reject(item.id)">Reject now</button>
                <button class="btn btn-lg buttonpr float-right mrgn-right" (click)="validate(item.id)" type="button">Validate</button>
            </p>
        </div>
    </div>
    <div class="pagination-container">
        <ngb-pagination class="d-flex justify-content-center" size="lg" [collectionSize]="totalSize$ | async" [(page)]="page" [maxSize]="7" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>