<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

<div class="container-sm mt-2 mb-2 p-3" *ngIf="!questionsLoading && !isBreak">
    <div *ngIf="curq.typeId == 1 && !waitResult">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><p>{{'game.title' | translate }} {{curq.title}}</p></h3>
                </div>
                <div class="modal-header">
                    <h3><p>{{'game.question' | translate }} {{curq.content}}</p></h3>
                </div>
                <div *ngIf="curq_image != null" class="modal-header">
                    <img [src]="'data:image/jpeg;base64,'+curq_image"/>
                </div>
            <div class="modal-body">
                <div class="quiz" id="quiz" data-toggle="buttons">
                    <label class="btn btn-lg btn-primary btn-block"
                           *ngFor="let answer of curq.answers"><span class="btn-label"></span> <button name="button1id"
                                                                                                       class="btn btn-primary tx"
                                                                                                       (click)="oneToFourAns(answer)">{{answer}}</button></label>
                    <label class="btn btn-lg btn-block"> 
                        <div class="progress">
                            <div id="cnt"
                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuenow="20"
                                 aria-valuemin="0"
                                 aria-valuemax="60"
                                 style="width:{{timeLeft}}%"></div>
                        </div>
                    </label>
                </div>
            </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="curq.typeId == 2 && !waitResult">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><p>{{'game.title' | translate }} {{curq.title}}</p></h3>
                </div>
                <div class="modal-header">
                    <h3><p>{{'game.question' | translate }} {{curq.content}}</p></h3>
                </div>
                <div *ngIf="curq_image != null" class="modal-header">
                    <img [src]="'data:image/jpeg;base64,'+curq_image"/>
                </div>
            <div class="modal-body">
                <div class="quiz" id="quiz" data-toggle="buttons">
                    <label class="btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <button name="button1id"
                                                                                                            class="btn btn-primary"
                                                                                                            (click)="trueFalseAns('true')">{{'game.true' | translate }}</button></label>
                    <label class="btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <button name="button1id"
                                                                                                            class="btn btn-primary"
                                                                                                            (click)="trueFalseAns('false')">{{'game.false' | translate }}</button></label>
                    <label class="btn btn-lg btn-block"> 
                        <div class="progress">
                            <div id="cnt"
                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuenow="20"
                                 aria-valuemin="0"
                                 aria-valuemax="60"
                                 style="width:{{timeLeft}}%"></div>
                        </div>
                    </label>
                </div>
            </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="curq.typeId == 3 && !waitResult">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><p>{{'game.title' | translate }} {{curq.title}}</p></h3>
                </div>
                <div class="modal-header">
                    <h3><p>{{'game.question' | translate }} {{curq.content}}</p></h3>
                </div>
                <div *ngIf="curq_image != null" class="modal-header">
                    <img [src]="'data:image/jpeg;base64,'+curq_image"/>
                </div>
            <div class="modal-body">
                <div class="quiz" id="quiz" data-toggle="buttons">
                    <input type="text"
                           class="inp"
                           name="username"
                           [(ngModel)]="answf"
                           #nameref="ngModel"
                           size=40px
                           pattern="[a-zA-Z]+"/>
                    <label class="btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <button name="button1id"
                                                                                                            class="btn btn-primary"
                                                                                                            (click)="manualAns()">{{'game.apply' | translate }}</button></label>
                    <label class="btn btn-lg btn-block"> 
                        <div class="progress">
                            <div id="cnt"
                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuenow="20"
                                 aria-valuemin="0"
                                 aria-valuemax="60"
                                 style="width:{{timeLeft}}%"></div>
                        </div>
                    </label>
                </div>
            </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="curq.typeId == 4 && !waitResult">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3><p>{{'game.title' | translate }} {{curq.title}}</p></h3>
                </div>
                <div class="modal-header">
                    <h3><p>{{'game.question' | translate }} {{curq.content}}</p></h3>
                </div>
                <div *ngIf="curq_image != null" class="modal-header">
                    <img [src]="'data:image/jpeg;base64,'+curq_image"/>
                </div>
            <div class="modal-body">
                <div class="quiz" id="quiz" data-toggle="buttons">
                    <p><i>{{'game.ordertext' | translate }}</i></p>
                    <div cdkDropList class="e-list" (cdkDropListDropped)="drop($event)">
                        <div class="e-box" *ngFor="let answer of shuffled" cdkDrag>{{answer}}</div>
                    </div>
                    <label class="btn btn-lg btn-primary btn-block"><span class="btn-label"></span> <button name="button1id"
                                                                                                            class="btn btn-primary"
                                                                                                            (click)="seqAns()">{{'game.apply' | translate }}</button></label>
                    <label class="btn btn-lg btn-block"> 
                        <div class="progress">
                            <div id="cnt"
                                 class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar"
                                 aria-valuenow="20"
                                 aria-valuemin="0"
                                 aria-valuemax="60"
                                 style="width:{{timeLeft}}%"></div>
                        </div>
                    </label>
                </div>
            </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="waitResult" class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col bg-white rounded text-center">
            <p class="h4">{{'game.waitingpl' | translate }}</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div *ngIf="isBreak" class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col bg-white rounded text-center">
            <p class="h4">{{'game.break' | translate }}</p>
            <label class="btn btn-lg btn-block"> 
                <div class="progress">
                    <div id="cnt"
                         class="progress-bar progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="20"
                         aria-valuemin="0"
                         aria-valuemax="60"
                         style="width:{{timeLeft}}%"></div>
                </div>
            </label>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div style="text-align: center;" *ngIf="questionsLoading">
    <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
</div>

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3><p>{{'game.yourscore' | translate }} {{playerRating}}
	                ; {{'game.totalquiztime' | translate }} {{timeSpend}}s</p></h3>
            </div>
        </div>
    </div>
</div>
