<div class="content" role="main">
    <div id="create-main" class="container-sm mt-2 p-5">
        <div class="row">
            <div class="col-sm-5">
                <img class="img-thumbnail" [src]='thumbnail' alt="../assets/img/quiz.jpg">
            </div>
            <div class="col-sm-6">
                <p><b class="plabel mr-3">Title:</b>{{quiz.title}}</p>
                <p><b class="plabel mr-3">Created:</b>{{quiz.creationDate}}</p>
                <p><b class="plabel mr-3">Author:</b>{{quiz.creatorId}}</p>
                <p><b class="plabel mr-3">Tag:</b>{{quiz.tags}}</p>
                <p><b class="plabel mr-3">Categories:</b>{{quiz.category}}</p>
                <p><b class="plabel mr-3">Description:</b>{{quiz.description}}</p>
            </div>
        </div>



        <div id="buttons">
            <div class="btn buttonpr" (click)="markAsFavorite()">Mark as favorite</div>
            <a *ngIf="isMyQuiz()" class="btn buttonsec ml-1" routerLink="/quizedit/{{quiz.id}}">Edit quiz</a>
        </div>
    </div>
