
<div class="content" role="main">
    <div id="create-main" class="div-cont">
        <div class="grid">
            <div class="grid-item"><img src="../assets/img/quiz.jpg"></div>
            <div class="grid-item"> 
                <p>Title: {{quiz.title}}</p>              
                    <p>Created: {{quiz.creationDate}}</p>
                    <p>Author: {{quiz.creatorId}}</p>
                    <p>Tags: {{quiz.tags}}</p>
                    <p>Categories: {{quiz.category}}</p>

                    <p>Description: {{quiz.description}}</p>
            </div>
        </div>
        
        

        <div id="buttons">
            <div class="btn buttonpr" (click)="markAsFavorite()" >Mark as favorite</div>
            <a *ngIf="isMyQuiz()" class="btn buttonsec ml-1" routerLink="/quizedit/{{quiz.id}}" >Edit quiz</a>
        </div>
</div>