<div class="m-4">
<div class="form-group">
  <label for="username">Creator username</label>
  <input type="text" [(ngModel)]="settings.userName" class="form-control" id="username">
</div>
<div *ngIf="settings.tags" class="form-group">
  <label for="tags-list">Tags</label>
  <div id="tags-list">
      <span class="mr-1" *ngFor="let tag of settings.tags">
        <span class="badge badge-primary p-1">
            <svg (click)="deleteTag(tag.id)"
                 class="bi bi-x-circle"
                 width="1em"
                 height="1em"
                 viewBox="0 0 16 16"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                      clip-rule="evenodd"/>
            </svg>
        <span class="ml-1">{{tag.description}}</span>
      </span>
      </span>
  </div>
</div>
      <div class="form-group">
         <div class="input-group">
              <input type="text" [ngbTypeahead]="searchTag"
                     [inputFormatter]="formatter"
                     [resultFormatter]="formatter"
                     (focus)="focusTag$.next($any($event).target.value)"
                     (click)="clickTag$.next($any($event).target.value)"
                     [(ngModel)]="newTag"
                     (keydown.enter)="addTag()"
                     class="form-control"
                     id="tag-input"
                     aria-describedby="button-add-tag">
              <div class="input-group-append">
                <button (click)="addTag()" class="btn btn-light btn-outline-secondary" type="button"
                        id="button-add-tag">
                  Add
                </button>
              </div>
         </div>
      </div>


      <div *ngIf="settings.categories" class="form-group">
        <label for="categories-list">Categories</label>
        <div id="categories-list">
        <span class="mr-1" *ngFor="let categ of settings.categories">
          <span class="badge badge-success p-1">
          <svg (click)="deleteCategor(categ.id)"
               class="bi bi-x-circle"
               width="1em"
               height="1em"
               viewBox="0 0 16 16"
               fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
              clip-rule="evenodd"/>
        <path fill-rule="evenodd"
              d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
              clip-rule="evenodd"/>
        <path fill-rule="evenodd"
              d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
              clip-rule="evenodd"/>
      </svg>
            <span class="ml-1">{{categ.description}}</span>
        </span>
        </span>
      </div>
      </div>

      <div class="form-group">
          <div class="input-group">
              <input type="text"
                     [ngbTypeahead]="searchCat"
                     [inputFormatter]="formatter"
                     [resultFormatter]="formatter"
                     [(ngModel)]="newCateg"
                     (focus)="focusCat$.next($any($event).target.value)"
                     (click)="clickCat$.next($any($event).target.value)"
                     (keydown.enter)="addCateg()"
                     class="form-control"
                     id="category-input"
                     aria-describedby="button-add-cat">
              <div class="input-group-append">
                <button (click)="addCateg()" class="btn btn-light btn-outline-secondary" type="button"
                        id="button-add-cat">
                  Add
                </button>
              </div>
         </div>
      </div>


      <div class="form-group">
      <label for="minRating">Rating from</label>
      <select class="form-control" id="minRating" [(ngModel)]="settings.moreThanRating">
        <option [disabled]="i > settings.lessThanRating" *ngFor="let i of rating">
          {{i}}
        </option>
      </select>
      </div>
      <div class="form-group">
      <label for="maxRating">Rating to</label>
      <select class="form-control" id="maxRating" [(ngModel)]="settings.lessThanRating">
        <option [disabled]="i < settings.moreThanRating" *ngFor="let i of rating">
          {{i}}
        </option>
      </select>
      </div>
    <div class="form-group">
      <label for="lang">Language</label>
      <select class="form-control" id="lang" [(ngModel)]="settings.quizLang">
        <option *ngFor="let i of languages">
          {{i}}
        </option>
      </select>
      </div>
      <button (click)="filter()" class="form-group btn btn-block btn-primary">Apply</button>
</div>
