input
{
    font-size: 1.1em;
}

.nav-link
{
    font-size: 22px;
}

.navbar-brand
{
    font-size: 22px;
}

a
{
    color: black;
}

.clickable:hover
{
    cursor: pointer;
}



.notif {
    position: relative;
    display: block;
}
.num {
    padding-left: .33rem;
    padding-right: .33rem;
    position: absolute;
    right:    -8px;
    top:      -2px;
    color:    white;
    background-color: orangered;
    font-size: 12px;
}
