<div role="main" class="container" *ngIf="ready" style="word-wrap: break-word;">
    <div class="container-sm mb-2 h-100">
       <div class="row">
          <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3 p-2">
             <img class="col p-3"[src]="profile.imageContent ? profile.imageContent : '../../assets/img/nopicture.jpg'" style="background-color:rgba(243, 202, 165, 0.863);">
             <a *ngIf="owner && profile.activated" (click)="edit()" class="btn btn-outline-secondary mt-2 w-100">Edit profile</a>
             <a *ngIf="!owner && this.role=='ROLE_USER' && !profile.friend && !profile.outgoingRequest && !profile.incomingRequest" class="btn btn-outline-secondary mt-2 w-100" (click)="sendFriendRequest()"> Add friend </a>
             <a *ngIf="!owner && this.role=='ROLE_USER' && !profile.friend && profile.outgoingRequest " class="btn btn-outline-secondary mt-2 w-100 disabled" > Friend request sent</a>
             <a *ngIf="!owner && this.role=='ROLE_USER' && !profile.friend && profile.incomingRequest " class="btn btn-outline-success mt-2 w-100"  (click)="processFriendRequest(true)"> Accept request</a>
             <a *ngIf="!owner && this.role=='ROLE_USER' && !profile.friend && profile.incomingRequest " class="btn btn-outline-danger mt-2 w-100"  (click)="processFriendRequest(false)"> Reject request</a>
             <a *ngIf="!owner && this.role=='ROLE_USER' && profile.friend" class="btn btn-outline-secondary mt-2 w-100"> Message </a> 
             <a *ngIf="!owner && this.role=='ROLE_USER' && profile.friend" class="btn btn-outline-danger mt-2 w-100"> Unfriend </a> 
            </div>
          <div class="col p-3">
             <b>{{profile.username}}</b>
             <span *ngIf="profile.role!='ROLE_USER'" class="blue"> {{profile.role.substr(5).toLowerCase()}}</span>
             <h5 *ngIf="!profile.activated" style="color: red;"> deactivated </h5>
             <h3 *ngIf="profile.online; else lastseen" class="blue"> online </h3>
             <ng-template #lastseen>
                <h3 class="blue" *ngIf="profile.lastTimeOnline"> Last seen on {{profile.lastTimeOnline  |  date:'medium'}} </h3>
             </ng-template>
             <h3>{{profile.aboutMe}}</h3>
          </div>
          <div *ngIf= "this.role!='ROLE_USER' && owner && profile.activated" class="col-3 ">
             <a class="btn btn-outline-secondary mt-2" (click)="deactivate(false)"> Deactivate </a>
             <div class="w-100"></div>
             <a class="btn btn-outline-secondary mt-2" *ngIf="role=='ROLE_SUPERADMIN' && this.profile.role=='ROLE_ADMIN'" (click)="editAdmin(false)">Downgrade to Moderator </a>
             <a *ngIf="role=='ROLE_SUPERADMIN' && this.profile.role=='ROLE_MODERATOR'"  class="btn btn-outline-secondary mt-2"  (click)="editAdmin(true)" >Upgrade to Admin </a>
          </div>
       </div>
    </div>
    <div class="container-sm mt-2 p-4" *ngIf="profile.role=='ROLE_USER' && quizReady">
       <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" (navChange)="changeTab($event)" class="nav-tabs w-100 m-2 p-2 border">
       <li [ngbNavItem]="1">
          <a ngbNavLink class="blue p-2 mr-2">{{profile.username}}'s quizzes</a>
          <ng-template ngbNavContent>
             <p *ngIf="!quizzes.length"  style="font-style: large; font-weight: bold;" class="ml-5 mt-2 ">
                No quizzes yet
             </p>
             <div *ngFor="let quiz of quizzes">
                <div *ngIf="owner || quiz.published" class="row container-fluid m-2 border p-2" style="word-wrap: break-word;">
                   <img class="col-xs-5 col-sm-5 col-md-4 col-lg-3 p-2" style="background-color:rgba(243, 202, 165, 0.863);" [src]="quiz.imageContent ? quiz.imageContent : '../../assets/img/quiz.jpg'" (click)="goToQuiz(quiz.id)" >
                   <div class="col-xs-5 col-sm-7 col-md-8 col-lg-9 p-1 ">
                      <div class="ml-2">
                         <a (click)="goToQuiz(quiz.id)" class="blue" style="user-select: none; font-size: larger;">
                         {{quiz.title}}
                         <br />
                         </a> 
                         <b>Description:</b> {{quiz.description}}  <br />
                         <b>Last time modified:</b> {{quiz.creationDate}} <br />
                         <div *ngIf="owner" > <b>Status:</b> {{quiz.published ? "published" : quiz.validated ? "not published" : "not validated"}} <br/></div>
                         <b>Rating:</b> {{quiz.rating}}  <br />
                         <div  class="col-xs-2 col-sm-3 col-md-2 col-lg-1 p-2 float-right" (click)="markQuizFavourite(quiz)">
                            <svg *ngIf="quiz.favourite" class="bi bi-star-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                               <path
                                  d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                            </svg>
                            <svg *ngIf="!quiz.favourite" class="bi bi-star" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                               fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                               <path fill-rule="evenodd"
                                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 00-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 00-.163-.505L1.71 6.745l4.052-.576a.525.525 0 00.393-.288l1.847-3.658 1.846 3.658a.525.525 0 00.393.288l4.052.575-2.906 2.77a.564.564 0 00-.163.506l.694 3.957-3.686-1.894a.503.503 0 00-.461 0z"
                                  clip-rule="evenodd" />
                            </svg>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </ng-template>
       </li>
       <li [ngbNavItem]="2">
          <a ngbNavLink class="blue p-2 mr-2" >{{profile.username}}'s achievements</a>
          <ng-template ngbNavContent class="blue">
             <p *ngIf="true"  style="font-style: large; font-weight: bold;" class="ml-5 mt-2 ">
                No achievements yet
             </p>
          </ng-template>
       </li>
       </ul>
       <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
 </div>