<div>
  <button class="close-btn" type="button" name="button" (click)="activeModal.dismiss('Cross click')"><img src="../assets/img/close-button.jpg"></button>
  <span class="header-text">Log In</span><br>
  <span class="text">Email or username</span><br>
  <input type="email" name="email" size=30px [(ngModel)]="email"/><br>
  <span class="text">Password</span><br>
  <input type="password" name="password" size=30px [(ngModel)]="password"/><br><br>
  <span class="link"><a href="./forgot-pass">Forgot your password?</a></span><br><br>
  <button type="button" class="btn btn-primary" (click)="logIn()"><span class="text">Log In</span></button><br><br>
</div>
