<div *ngIf="suggestions.length > 0" class="container mt-2">
    <label class="mt-2">
        Quizzes you may like!
    </label>

    <div class="card-group p-3">
        <div class="row">
            <div *ngFor="let suggestion of suggestions" class="col my-auto">
                <div class="pointer" routerLink="/viewquiz/{{suggestion.id}}">
                        <img [src]="suggestion.imageContent !== null ? suggestion.imageContent : '../assets/img/quiz.jpg'"
                            class="img-fluid" data-width="285" data-height="350">

                    <p>{{ suggestion.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>