<div *ngIf="!isEmpty" class="card mb-2">
    <div class="lead card-header cardblock-title">
        {{'suggestions.title' | translate}}
    </div>
    <div [ngClass]="getCssClass()" *ngIf="!isLoading; else loading">
        <div class="col mb-3 mb-md-0 px-0" *ngFor="let suggestion of suggestions; let i = index">
            <div [ngClass]="(i != 0) ? 'card pointer h-100 mr-1' : 'card pointer h-100 mr-1 ml-1'" 
            routerLink="/viewquiz/{{suggestion.id}}">
                <div class="embed-responsive embed-responsive-4by3">
                    <img class="card-img-top embed-responsive-item p-1" [src]="suggestion.imageContent !== null ? suggestion.imageContent : mockImgUrl">
                </div>
                <div class="card-body text-center p-title">
                    <p placement="bottom" [ngbTooltip]="suggestion.title" class="card-title">{{ suggestion.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="card-body text-center">
        <fa-icon [icon]="faSpinner" [spin]="true" size="6x"></fa-icon>
    </div>
</ng-template>