/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    min-height: 100%;
    background: url("./assets/img/background.jpg") no-repeat center center fixed;
}

a {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #5085A5;
}

.id {
    color: rgba(0, 0, 0, 0.63);
    font-size: 20px;
    line-height: 24px;
}

.title {
    width: 100%;
    max-width: 79.2%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn:focus{
    outline: none!important;
    box-shadow: none;
  }

.buttonpr {
    background: #74BDE6;
}

.buttonpr:hover {
    background: #8cc5e6;
}

.buttonpn {
    background: #00FFFF;
}

.buttonpn:hover {
    background: #47fcfc;
}

.buttonsec {
    background: #E6B174;
}

.buttonsec:hover {
    background: #e3be94;
}

.buttondel {
    background-color: #db3545;
}

.buttondel:hover {
    background-color: #d94e5c;
}

.newlines {
    white-space: pre-wrap;
}