.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 5px;
  }
  .grid-item {
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    line-height: 16px;
    text-align: center;
  }

  button.addb {

    margin-top: 2px;
    border: 0px;
    background-color: transparent;
  }

  button.remb {
    margin-top: 2px;
    border: 0px;
    background-color: transparent;
  }

  img {
    width: 35px;
    height: 35px;
  }