.mainstyle
{
    border-radius:    8px;
    background-color: #F7F9FB;
    min-height:       10 hv;
}

.content
{
    padding-top: 60px;
    min-height:  150em;
}

.message
{
    font-weight: bold;
}

.fnt-size
{
    font-size: large;
    margin:    0;
}

.pdng
{
    padding: 0.5em;
}

.badge
{
    font-size:     large;
    margin-bottom: 0;
}

.emptylabel
{
    width:      100%;
    padding:    2em;
    text-align: center;
    font-size:  x-large;
}

.wrap
{
    word-wrap: break-word;
    width:     100%;
}

.embed-responsive .pic{
    object-fit: contain;
}

.pic{
    max-height: 90%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border:1px solid #dee2e6!important;
    padding: 0.25rem;
    border-radius: .3rem!important;
}
.embed-responsive-4by3::before{
    padding-top: 80% !important;
}